
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


#nav {
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  
}

#nav > div > a {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

#nav > div > a:nth-child(1){
  margin-left: 19.5em;
}



#about {
  font-family: "Lucida Console", "Courier New", monospace; 
}


#about{
  font-family: 'Special Elite', cursive;
}

#code{
   
  color: white;
}

.heading{
  /* font-family: "Lucida Console", "Courier New", monospace; */
  font-family: 'Special Elite', cursive;
  position: relative;
  text-align:center;
}



 .container {
       position: relative;
       width: 100%;
       height: 100%;

 }

#projectscontainer {
 display: flex;
 position: relative;
}

p {
  text-align: center;
}

h3 {
   color: black;
   text-align:center;
}

#about{
  max-width: 1200px;
}

.card {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#us{
  height: 40rem;
}

#about{
  text-align: center;
  margin: auto;
  display: block;
}

#aboutCard  {
  height: 25rem;
}

.hr {
border-top: 1px solid red;
}


h1.page-title {
  font-family: 'Special Elite', cursive;
  color: black;
  text-decoration: none;
  font-size: 6vw;
}

h4.page-title {
  font-family: 'Special Elite', cursive;
  color: black;
  text-decoration: none;
  text-align: center;
  /* font-size: 6vw; */
}

/* Navbar { ///covered by Nav above
  font-size: 203px;
} */

#blog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#desc {
  text-align: left;
}


.responsive {
  width: 100%;
  height: auto;
}

.social-svg {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#social  {
width: 100%;
}

#icon-continer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.blinking{
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
.bio-text {
  text-align: left;
}

.card-header{

  font-weight: bold;

}